# **Analyzing Online Retail Sales with Big Query**

# **1. Introduction**
## Objective
The objective of this project is to analyze purchasing behavior, and identify sales trends by seasons, categories, time period and locations. The main goal is to provide a recommendation by analyzing and visualizing findings.

## Dataset Used
_Online Retail Sales Dataset_ : Contains customer transactions, product categories, quantities, prices, discounts, payment methods, and customer demographics.

In [5]:
import pandas as pd
df = pd.read_csv("online_retail_sales_dataset.csv")
df.head()

,transaction_id,timestamp,customer_id,product_id,product_category,quantity,price,discount,payment_method,customer_age,customer_gender,customer_location,total_amount
0,1,2023-01-01 00:00:00,1993,915,Home & Kitchen,8,103.30,0.23,Gift Card,27,Female,North America,636.33
1,2,2023-01-01 00:01:00,3474,553,Clothing,9,180.28,0.31,Gift Card,53,Other,South America,1119.54
2,3,2023-01-01 00:02:00,4564,248,Beauty & Personal Care,7,81.58,0.27,Debit Card,34,Other,North America,416.87
3,4,2023-01-01 00:03:00,1133,948,Clothing,3,235.20,0.00,Debit Card,50,Other,Australia,705.60
4,5,2023-01-01 00:04:00,3626,284,Books,9,453.00,0.34,Credit Card,23,Female,Australia,2690.82

# **2. Data Exploration**

## Key Findings
- People in South America spent the most money. A population does not have a significant impact on the total amount of money they spent as long as I can see this result from the data.

<img src="c1.png" width="500" height="340"> 
<img src="r1.png" width="500" height="340">

- There was no huge difference in the total amount of money by age group, but people in their 20s spent the most money.

<img src="c2.png" width="500" height="340"> 
<img src="r2.png" width="500" height="340">

- The highest number of transactions among categories was for books, purchased by people in their 60s. In addition, Beauty & personal care products were relatively purchased well by various age groups.

<img src="c3.png" width="500" height="340"> 
<img src="r3.png" width="500" height="340">

- Women often purchase products related to their appearance, while men tend to buy things that have practical uses.

<img src="c4.png" width="700" height="340"> 
<img src="r4.png" width="600" height="340">

# **3. Data Cleaning**

There are no missing values in this dataset, so no actions were needed for filling them. The first data cleaning process that I applied includes following steps: 
- Drop customer_id, and transaction_id as they are not necessary for this analysis
- Split the timestamp into new columns for year, month and hour
- Create a new column “age_group”.
- Save as a new_data

As I split the "timestamp" into new columns, I noticed that the "timestamp" was not accurate because it includes the date that had not yet occurred. Since this dataset was posted in June 2024, I extracted from the earliest date up to the end of May 2024, and saved as "updated_data".  
The following code demonstrates the process of creating a dataset.

<img src="cleaning.png" width="1000" height="340">

In [50]:
df = pd.read_csv("updated_data.csv")
df.head()

,timestamp,year,month,hour,product_id,product_category,quantity,price,discount,payment_method,customer_age,age_group,customer_gender,customer_location,total_amount
0,2023-08-20 03:35:00,2023,8,3,256,Home & Kitchen,1,212.21,0.16,PayPal,18,10s,Other,Australia,178.26
1,2024-04-23 08:54:00,2024,4,8,256,Clothing,1,32.10,0.40,PayPal,18,10s,Female,Africa,19.26
2,2023-03-19 09:58:00,2023,3,9,512,Beauty & Personal Care,1,440.97,0.31,Credit Card,18,10s,Female,Europe,304.27
3,2023-04-19 06:40:00,2023,4,6,512,Beauty & Personal Care,1,424.82,0.49,Credit Card,18,10s,Female,Australia,216.66
4,2023-06-01 17:01:00,2023,6,17,768,Home & Kitchen,1,497.42,0.06,Gift Card,18,10s,Male,Australia,467.57

# **4. Data Analysis**

## **Seasonal trend**
- **Objective :** Analyze the seasonal trends based on the total amount for each month.
- **Finding :** There are significant decreases in every February. Even if the total sales decreased, it increased in the following month. 
Since I cannot see what kind of category primarily decreased the total amount, I analyze the seasonal trend by category to obtain insights for identifying possible reasons in the next analysis.

- **SQL Queries**
1. Changed the format of month to visualize the data from the oldest month to the latest. (e.g., "1" to "01")
2. Combined year and month with hyphen to create a new column "year_month"
3. Calculated the total amount for each month
4. Visalized the data based on the result

<img src="c_seasonal.png" width="600" height="340">

<img src="r_seasonal.png" width="800" height="340">

- **Visualization**

<img src="seasonal_trend.png" width="700" height="340">

## **Seasonal trend by category**
- **Objective :** Analyze the seasonal trends based on the total amount by category for each month.
- **Finding :** The graph shows that the sales decreased in all categories in February.
The possible reasons are people tend to spend more money in December and January as there are a lot of events such as Christmas, Boxing day and New year’s day. There is a possibility that people try to suppress their expenses in February. 
Since February is around the end of winter and a transitional period between seasons, categories that rely on trends, like clothing, might record relatively lower sales.

- **SQL Queries**

<img src="r_seasonal_category.png" width="800" height="340">

- **Visualization**

<img src="seasonal_category.png" width="900" height="340">

## **Daily Patterns**
- **Objective :** Analyze the daily patterns based on the total amount for each hour. 
- **Finding :** The highest total sales is between 3 to 4 AM even though it is still early morning. This graph indicates that the sales fluctuate every three hours rather than remaining consistent. There are notable decreases at three specific times, 6 to 7 AM, 9 to 10 AM, and 19 to 20. There might be comparably fewer people browsing the internet around meal times or work start times as they are common times for having meals and starting work.

- **SQL Queries**

<img src="c_daily.png" width="500" height="340">

- **Visualization**

<img src="Daily_Patterns.png" width="800" height="340">

## **Customer Analysis by Age Group and Gender**
- **Objective :** Analyze how much money people spent by age group and gender. 
- **Finding :** The amount of money spent by women and men varies by age group, but overall, except for the 10s, there is not a significant difference between the age groups.

- **SQL Queries**

<img src="c_analysis_age.png" width="800" height="340">

- **Visualization**

<img src="c_analysis.png" width="800" height="340">

## **Customer Analysis by gender and category**
- **Objective :** Analyze how much money people spent by gender and category.
- **Finding :** I expected that females tend to purchase Beauty & personal care products and clothing much more than males. I can see the gap between male and female for each category, but the gap is not as big as I expected. There is a possibility that people prefer to try these products in-store, and purchase them if they like rather than buying them without checking the size of clothing, and texture of the beauty care products.

- **SQL Queries**

<img src="c_gender.png" width="800" height="340">

- **Visualization**

<img src="c_analysis_category.png" width="800" height="340">

## **Customer Analysis by their location**
- **Objective :** Analyze the trend by customer's location.
- **Finding :** I could not specify what exact products people purchased from this dataset, but the category that was spent the most is different for each continent. South America is  the region where people spend the most, and particularly Beauty & personal care products were the top category across different continents.

- **SQL Queries**

<img src="c_their_location.png" width="800" height="350">

- **Visualization**

<img src="c_location.png" width="1000" height="350">

# **5. Conclusion**

- **Summary of Findings :**
Through this analysis, I found that people spend less money in February and during specific times of day when they do routine activities. When it comes to the categories, some of them such as clothing and electronics show significant fluctuation in total spending depending on seasonal trends. In addition, the popularity of the category is completely different for each continent.

- **Recommendations and Future Work :** Additional analysis could specify the reason why a certain category was the top in each country. To clarify this, I need to research and read more articles to understand the characteristics of each country and identify various factors that might affect online sales, such as people’s traits, climate, lifestyle, and  economic power.